{% extends "base.html" %}
{% load crispy_forms_filters %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block nav %}
    {% include 'sweets/menu.html' %}
{% endblock %}

{% block content %}
	<div class="row-cols-sm-3">
		<div class="col-4"></div>
		<div class="col-4 offset-4">
			<h1>{% trans "Set Password" %}</h1>

			<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
				{% csrf_token %}
				{{ form|crispy }}
				<input class="btn btn-primary btn-block mt-3" type="submit" name="action" value="{% trans 'Set Password' %}"/>
			</form>
		</div>
		<div class="col-4"></div>
	</div>

	{% block reklama %}

	{% endblock %}
{% endblock %}
