{% extends "base.html" %}
{% load crispy_forms_filters %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block nav %}
    {% include 'sweets/menu.html' %}
{% endblock %}

{% block content %}

	<div class="row-cols-sm-3">
		<div class="col-4"></div>
		<div class="col-4 offset-4">
			<h1>{% trans "Sign Up" %}</h1>
			<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
			<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
				{% csrf_token %}
				{{ form|crispy }}
				{% if redirect_field_value %}
					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
				{% endif %}
				<button type="submit" class="btn btn-primary btn-block mt-3">{% trans "Sign Up" %} &raquo;</button>
			</form>
		</div>
		<div class="col-4"></div>
	</div>

	{% block reklama %}

	{% endblock %}

{% endblock %}
