{% extends 'sweets/base.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block nav %}
    {% include 'sweets/menu.html' %}
{% endblock %}

{% block main %}

{% endblock %}

{% block content %}
    <div class="row row-cols-sm-4">
        <div class="col-sm-6 offset-sm-3">
            <div class="card">
                <div class="card-header" id="header-color">
                    {{ comment.author }}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ comment.text }}</p>
                </div>
                <div class="card-footer text-muted" id="header-color">
                    {{ comment.created_at }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block reklama %}

{% endblock %}