{% load static %}

<header id="header-color">
    <div class="container-fluid text-black-50" id="header-text">
        <div class="row row-cols-2">
            <div class="col-sm-6 py-3 text-center">
                <a href="{% url 'home' %}" class="text-black-50"><img src="{% static 'images/logo_color.png' %}"
                                                                      width="auto" height="200" alt=""></a>
            </div>
            <div class="col-sm-6 py-3">
                <ul>
                    <li><strong>Сладости для яркого праздника!</strong></li>
                    <br>
                    <li>Торты от 1000р/кг</li>
                    <li>Капкейки</li>
                    <li>Имбирные пряники</li>
                    <li>Шоколад и Леденцы</li>
                    <br>
                    <li><img src="{% static 'images/phone.png' %}" width="auto" height="25" alt=""><strong>8-915-831-15-22</strong></li>
                </ul>
            </div>
        </div>
    </div>
</header>