{% load static %}
<hr>
<footer class="text-muted py-5" id="header-color">
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">

                <p><img src="{% static 'images/location.png' %}" width="auto" height="32" alt="">&nbsp;Россия, Ивановская обл.,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        г. Иваново</p>
            </div>
            <div class="col-sm text-center">
                <p><img src="{% static 'images/phone.png' %}" width="auto" height="32" alt="">&nbsp; +7 915-831-15-22 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <small class="text-black-50">с 10:00 до 20:00</small></p>
            </div>
            <div class="col-sm text-center">
                <p>
                    <strong>Я в соц.сетях</strong><br>
                    <a href="https://vk.com/brunner_sweets" target="_blank"><img src="{% static 'images/vk.png' %}" width="35" height="auto"
                                                                                 alt=""></a>
                    <a href="https://www.instagram.com/brunner_sweets/" target="_blank"><img
                            src="{% static 'images/instagramm.png' %}" width="30" height="auto" alt=""></a>
                    <a href="https://wa.me/79158311522" target="_blank"><img src="{% static 'images/wa.png' %}" width="30" height="auto"
                                                                             alt=""></a>
                    <a href="viber://chat?number=79158311522" target="_blank"><img
                            src="{% static 'images/viber.png' %}" width="28" height="auto"
                            alt=""></a>
                    <a href="tg://resolve?domain=Brunner_sweets" target="_blank"><img
                            src="{% static 'images/telegram.png' %}" width="30" height="auto"
                            alt=""></a>
                </p>
            </div>
        </div>
    </div>
</footer>